@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-200 antialiased selection:bg-accent-purple selection:text-white;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #090A0F;
}
::-webkit-scrollbar-thumb {
  background: #1A1D2D;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6366F1;
}